* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  color: white;
}

html {
  background-color: rgb(24, 24, 24);
}

h1 {
  padding-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  text-align: center;
  width: 600px;
  height: 500px;
}

.image-container img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.search-container {
  display: flex;
  align-items: center;
}

form {
  padding: 20px 0;
  display: flex;
  align-items: stretch;
}

form input[type="text"],
form input[type="submit"],
#random-button {
  height: 100%;
}

#searchbar {
  padding: 4px;
  border-radius: 4px;
  border: none;
}

#search-button {
  background-color: rgb(5, 125, 180);
}

#random-button {
  background: linear-gradient(to right, rgb(98, 0, 255), red);
}

.button {
  margin-left: 10px;
  padding: 4px;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
}

#search-button:hover {
  background-color: limegreen;
}
